.head{
    background-color: black;
    color:white;
}
.box2{
    background-color: rgb(98, 247, 247);
    width: 300px;
    border-radius: 15px;
    padding: 6px 8px;
    border: 1px solid black;
    margin: 10px 50px;
    
}
.box3
{
    border: 2px dashed rgb(11, 11, 12);
    background-color: beige;
    margin:50px;
    width: 400px;
    border-top:9px solid rgba(24, 23, 26, 0.685);
    
}
.container{
    display: grid ;
 
    border: 2px solid black;
    text-align: center;
    padding: 10px ;
    grid-template-columns: auto auto auto;
}
.container>div{
    border: 1px solid black;
    padding: 2px 5px;
    color: black;
}
.bigcontainer{
    background: linear-gradient(#e66465, #9198e5);
    text-align: center;
    color: rgb(240, 216, 216);
}
.bigcontainer>h1{
    margin-bottom:5px;
}